.cu-section {
  width: 100%;
  padding: 7.5rem 0 0 0;
  .cu-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 650px 1fr;
    // max-width: 1100px;
    grid-gap: 5rem;
    margin: 0 auto;
    .cu-left {
      input {
        width: 100%;
        padding: 1.25rem 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        outline: 0;
        font-size: 1.65rem;
        margin: 0 0 1.5rem 0;
        border-radius: 0.5rem;
      }
      textarea {
        width: 100%;
        padding: 1.25rem 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        outline: 0;
        font-size: 1.65rem;
        margin: 0 0 1.5rem 0;
        border-radius: 0.5rem;
        height: 20rem;
        resize: vertical;
      }
      button {
        padding: 1.25rem 2.5rem;
        background-color: var(--blue);
        border: 0;
        outline: 0;
        font-size: 1.5rem;
        color: var(--white);
        border-radius: 0.5rem;
        width: 100%;
        transition: 0.35s;
        cursor: pointer;
        &:hover {
          background-color: var(--red);
        }
      }
    }
    .cu-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        width: max-content;
        display: flex;
        align-items: center;
        font-size: 1.65rem;
        color: var(--blue);
        margin: 0 0 1.5rem 0;
        span {
          width: 3.5rem;
          height: 3.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          color: var(--white);
          background-color: var(--blue);
          margin: 0 1rem 0 0;
          border-radius: 50%;
        }
      }
      .contact-content {
        width: 100%;
        margin: 2.5rem 0 0 0;
        padding: 3.5rem;
        border-radius: 1.5rem;
        background: url("../../assets/img/emblem.png");
        background-size: 10rem;
        background-position: center;
        background-repeat: repeat;
        overflow: hidden;
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h3 {
          font-size: 3rem;
          color: var(--red);
          font-weight: 600;
        }
        p {
          font-size: 1.65rem;
          color: var(--white);
          margin: 1.5rem 0 3.5rem 0;
        }
        a {
          padding: 1.25rem 2.5rem;
          background-color: var(--red);
          border: 0;
          outline: 0;
          font-size: 1.5rem;
          color: var(--white);
          border-radius: 0.5rem;
          display: flex;
          align-items: center;
          width: max-content;
          i {
            transition: 0.35s margin;
            margin: 0 0 0 1rem;
          }
          &:hover {
            background-color: var(--white);
            color: var(--blue);
            i {
              margin: 0 0 0 2rem;
            }
          }
        }
      }
    }
  }
}
.cu-top {
  width: 100%;
  height: 35rem;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0.75;
    background: linear-gradient(to right, var(--blue), var(--red));
  }
  h1 {
    font-size: 6.5rem;
    color: var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 3;
  }
}

@media screen and (max-width: 1250px) {
  .cu-section .cu-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .cu-section .cu-grid {
    grid-template-columns: 1fr;
  }
  .cu-top h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 850px) {
  .cu-section .cu-grid .cu-right .contact-content p,
  .cu-section .cu-grid .cu-right a {
    font-size: 1.5rem;
  }
  .cu-top {
    height: 25rem;
    h1 {
      font-size: 3.5rem;
      bottom: 2.5rem;
      top: unset;
      transform: translate(-50%, 0);
    }
  }
  .cu-section {
    padding: 5rem 0 0 0;
  }
  .cu-section .cu-grid .cu-right .contact-content {
    padding: 2.5rem;
  }
  .cu-section .cu-grid .cu-right .contact-content h3 {
    font-size: 2.5rem;
  }
}
